{
    "secret/hotline/database": {
        "host": "mysql"
    },
    "secret/hotline/bot/database": {
        "name":     "bot",
        "user":     "bot",
        "password": "bot"
    },
    "secret/hotline/discord": {
        "token": "REPLACE_ME_WITH_A_TOKEN"
    }
}
